@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base minimalista */
:root {
  color-scheme: light;
}
html, body {
  @apply bg-crema text-tinta antialiased;
  font-feature-settings: "liga" 1, "kern" 1;
}
a { @apply underline-offset-4 hover:underline; }

@font-face {
  font-family: 'Perpetua';
  src: url('/fonts/Perpetua-Regular.woff2') format('woff2'),
       url('/fonts/Perpetua-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Perpetua', serif;
}
