---
const { src = '/images/hero.jpg', alt = 'Hero' } = Astro.props;
const hasContent = Astro.slots.has('default');
---
<section id="top" class="relative h-screen w-full">
  <img src={src} alt={alt} class="absolute inset-0 w-full h-full object-cover z-0 opacity-50" loading="eager" />
</section>