---
const links = [
  { href: '/estudio', label: 'estudio' },
  { href: '/styling', label: 'styling' },
  { href: '/proyectos', label: 'proyectos' },
  { href: '/muestras', label: 'muestras' },
  { href: '/shop', label: 'shop' },
  { href: '/contacto', label: 'contacto' },
];
---

<nav class="fixed top-0 left-0 w-full z-50 bg-transparent">
  <div class="container flex items-center justify-between py-5 relative">

    <!-- Logo clickeable -->
    <a href="/" class="flex items-center">
      <img 
        src="/images/logo.png" 
        alt="Galería logo" 
        class="h-8 md:h-10 w-auto object-contain"
      />
    </a>

    <!-- Botón hamburguesa -->
    <button 
      onclick="document.getElementById('menuLinks').classList.toggle('hidden')"
      class="flex flex-col gap-[4px] cursor-pointer z-50"
      aria-label="Abrir menú"
    >
      <span class="w-6 h-[2px] bg-black"></span>
      <span class="w-6 h-[2px] bg-black"></span>
      <span class="w-6 h-[2px] bg-black"></span>
    </button>

    <!-- Menú (oculto por defecto en todos los tamaños) -->
    <div
      id="menuLinks"
      class="hidden absolute inset-y-0 right-0 mt-12 md:mt-3 md:inset-1/3 md:right-0 md:top-1/2 -translate-y-1/2 flex flex-col space-y-2 md:flex-row items-center md:items-end md:mr-16 md:px-6 py-10 md:py-3  text-white text-base bg-transparent transition-all duration-300 ease-out"
    >
      {links.map((l) => (
          <a
            class="hover:opacity-70 mx-8 text-black"
            href={l.href}
            onclick="document.getElementById('menuLinks').classList.add('hidden')"
          >
            {l.label}
          </a>
      ))}
    </div>
  </div>
</nav>
