---
const { title } = Astro.props;
---
<section class="grid grid-cols-1 md:grid-cols-2 h-auto md:h-screen overflow-hidden">

  <!-- Columna de texto centrada -->
  <div class="flex flex-col items-center justify-center text-center px-8 md:px-20 bg-[#F5F1E4] h-full">
    {title && (
      <h2 class="font-serif text-base text-2xl font-bold mb-6 tracking-tightish uppercase">
        {title}
      </h2>
    )}
    <div class="space-y-5 text-sm md:text-base leading-relaxed text-black/80 max-w-lg">
      <slot name="copy" />
    </div>
  </div>

  <!-- Columna de imagen -->
  <div class="w-full md:w-[50vw] h-[50vh] md:h-screen">
    <slot />
  </div>
</section>
