---
export const prerender = true;

import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Section from '../components/Section.astro';
import estudioImg from '../assets/images/estudio-01.jpg';
---
<BaseLayout title="Estudio 路 GALERA">
  <Navbar />
  <main class="pt-20 md:pt-0">
    <Section title="ESTUDIO">
      <Fragment slot="copy">
        <p>
          Somos un estudio de interiorismo dedicado a crear espacios donde el dise帽o se
          <br>convierte en experiencia, y la funcion en belleza.
          <br>Nuestra propuesta se fundamenta en la exploraci贸n de dicotom铆as elementales ,
          <br>traducidas en materialidad, forma y atm贸sfera.
        </p>
        <p>
          Trabajamos desde la curadur铆a de revestimientos y terminaciones de un proyecto de
          <br>arquitectura, seleccionando cada material con intenci贸n y sensibilidad, para que cada
          <br>proyecto despierte el sentido innato de pertenencia, sea coherente y vivo.
        </p>
      </Fragment>

      <!--  imagen principal -->
      <Image
        src={estudioImg}
        alt="Estudio"
        widths={[640, 960, 1280]}
        sizes="(max-width: 768px) 100vw, 50vw"
        format="webp"
        quality={80}
        class="w-full h-full object-cover mt-8 md:mt-0"
        loading="lazy"
      />
    </Section>
  </main>
</BaseLayout>
